################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
/.gitignore
/AIMailer.svg.cs
/AIMailer.json
/1.Ressources/Fichier Texte Anglais AIMailer.txt
/1.Ressources/Fichier Texte Francais AIMailer.txt
*.png
/1.Ressources/Ressources/AIMailer logo Other.jpg
/1. Project Ressources/Ressources
/AIMailer.cfg
/AIMailer.ico
/packages.config
/AIMailer1.Designer.cs
/AIMailer.settings
/AIMailer1.Designer.cs
/api
/_site
/Resources/RecordOff64.ico
/AIFineTuning_MyDataset_Rutabullagas.jsonl
/Resources/RecordOn64.ico
/Resources/SendEmail64.ico
/1. Project Ressources/AIMailer Project Synthesys.url
/1. Project Ressources/AIMailer Project Synthesys.url
/1. Project Ressources/AIMailer.json
/1. Project Ressources/RecordOff64.ico
/1. Project Ressources/RecordOn64.ico
/1. Project Ressources/SendEmail64.ico
/1. Project Ressources/RecordOff64.ico
/1. Project Ressources/RecordOn64.ico
/1. Project Ressources/SendEmail64.ico
/1. Project Ressources/RecordOff64.ico
/Resources/AIMailer - Jeu d'Essai - Anglais.txt
/Resources/AIMailer - Jeu d'Essai - Francais.txt
/Resources/AIMailer - Jeu d'Essai - Rendez-vous.txt
/Resources/AIMailer - Jeu d'Essai - Rutabaluga 1.txt
/Resources/AIMailer.autosave.txt
/Resources/AIMailer.cfg
/Resources/AIMailer.ico
/1. Project Ressources/RecordOff64.ico
/1. Project Ressources/RecordOn64.ico
/1. Project Ressources/SendEmail64.ico
/1. Project Ressources/RecordOff64.ico
/1. Project Ressources/RecordOn64.ico
/1. Project Ressources/SendEmail64.ico
/1. Project Ressources/IAssistance.json
/1. Project Ressources/IAssistance.json
/1. Project Ressources/IAssistance.json
