################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
/.gitignore
/AIMailer.svg.cs
/AIMailer.json
/1.Ressources/Fichier Texte Anglais AIMailer.txt
/1.Ressources/Fichier Texte Francais AIMailer.txt
*.png
/1.Ressources/Ressources/AIMailer logo Other.jpg
